<?xml version="1.0"?>
<config>
    <modules>
        <FermoPoint_StorePickup>
            <version>1.0.2</version>
        </FermoPoint_StorePickup>
    </modules>
    <global>
        <models>
            <fpstorepickup>
                <class>FermoPoint_StorePickup_Model</class>
                <resourceModel>fpstorepickup_resource</resourceModel>
            </fpstorepickup>
            <fpstorepickup_resource>
                <class>FermoPoint_StorePickup_Model_Resource</class>
                <entities>
                    <point>
                        <table>fpsp_point</table>
                    </point>
                    <order_point>
                        <table>fpsp_order_point</table>
                    </order_point>
                </entities>
            </fpstorepickup_resource>
        </models>
        <blocks>
            <fpstorepickup>
                <class>FermoPoint_StorePickup_Block</class>
            </fpstorepickup>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>FermoPoint_StorePickup_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                    <onepage_shipping_method_available>FermoPoint_StorePickup_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <fpstorepickup>
                <class>FermoPoint_StorePickup_Helper</class>
            </fpstorepickup>
        </helpers>
        <resources>
            <fpstorepickup_setup>
                <setup>
                    <module>FermoPoint_StorePickup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fpstorepickup_setup>
            <fpstorepickup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fpstorepickup_write>
            <fpstorepickup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fpstorepickup_read>
        </resources>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <fermopoint_storepickup_observer>
                        <type>singleton</type>
                        <class>fpstorepickup/observer</class>
                        <method>onOrderInvoicePay</method>
                    </fermopoint_storepickup_observer>
                </observers>
            </sales_order_invoice_pay>
            <order_cancel_after>
                <observers>
                    <fermopoint_storepickup_observer>
                        <type>singleton</type>
                        <class>fpstorepickup/observer</class>
                        <method>onOrderCancel</method>
                    </fermopoint_storepickup_observer>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <FermoPoint_StorePickup>
                    <files>
                        <default>FermoPoint_StorePickup.csv</default>
                    </files>
                </FermoPoint_StorePickup>
            </modules>
        </translate>
        <routers>
            <fpstorepickup>
                <use>standard</use>
                <args>
                    <module>FermoPoint_StorePickup</module>
                    <frontName>fpstorepickup</frontName>
                </args>
            </fpstorepickup>
        </routers>
        <layout>
            <updates>
                <fpstorepickup>
                    <file>fpstorepickup.xml</file>
                </fpstorepickup>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <fermopoint_storepickup_observer>
                        <type>singleton</type>
                        <class>fpstorepickup/observer</class>
                        <method>onBlockToHtmlAfter</method>
                    </fermopoint_storepickup_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <fermopoint_storepickup_observer>
                        <type>singleton</type>
                        <class>fpstorepickup/observer</class>
                        <method>onSaveOrderAfter</method>
                    </fermopoint_storepickup_observer>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <fermopoint_storepickup_observer>
                        <type>singleton</type>
                        <class>fpstorepickup/observer</class>
                        <method>onSaveShippingMethodAfter</method>
                    </fermopoint_storepickup_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <fermopoint_storepickup_observer>
                        <class>fpstorepickup/observer</class>
                        <method>onSaveShippingMethodBefore</method>
                    </fermopoint_storepickup_observer>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
        </events>
    </frontend>
    <admin>
        <routers>
            <fpstorepickup>
                <use>admin</use>
                <args>
                    <module>FermoPoint_StorePickup</module>
                    <frontName>fpstorepickupadmin</frontName>
                </args>
            </fpstorepickup>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fpstorepickup>
                    <file>fpstorepickup.xml</file>
                </fpstorepickup>
            </updates>
        </layout>
        <translate>
            <modules>
                <FermoPoint_StorePickup>
                    <files>
                        <default>FermoPoint_StorePickup.csv</default>
                    </files>
                </FermoPoint_StorePickup>
            </modules>
        </translate>
        <layout>
            <updates>
                <fpstorepickup>
                    <file>fpstorepickup.xml</file>
                </fpstorepickup>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <fpstorepickup>
                <accept>0</accept>
                <active>0</active>
                <model>fpstorepickup/carrier_storepickup</model>
                <title>Corriere con Consegna presso Fermo!Point</title>
                <sandbox>1</sandbox>
                <debug>1</debug>
                <cost>0</cost>
                <maximum_subtotal>500</maximum_subtotal>
                <maximum_weight>15</maximum_weight>
                <tos_url>http://www.fermopoint.it/contratto-utenti/</tos_url>
                <allowspecific_payment>1</allowspecific_payment>
            </fpstorepickup>
        </carriers>
    </default>
</config>
