#fermopoint_conditions iframe {
    border: 0px;
    margin: 20px 0;
    height: 360px;
    width: 100%;
}

#fermopoint_search+img{
    display: none;
    margin: 2px 0 0 10px;
}

#fermopoint_search_radius {
    width: auto;
}

#fermopoint_map {
}

.fermopoint-address {
    margin-top: 5px;
}

.fermopoint-search {
    margin-top: 15px;
}

.fermopoint_google_map {
    width: 100%; 
    height: 360px; 
    margin-top: 20px;
}

#fermopoint_point {
    margin-top: 20px;
}

#fermopoint_search.in-progress+img{
    display: inline-block;
}

.fermopoint-info-window {
    padding: 5px;
    font-size: 13px;
    color: #555;
    line-height: 18px; 
    font-family: arial;
    min-width: 300px;
}

.fermopoint-info-window .fermopoint-info-row {
    margin: 5px 0;
}

.fermopoint-info-window .fermopoint-info-row.title {
    color: #457085;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 15px;
}

.fermopoint-info-window .fermopoint-info-row strong {
    color: grey !important;
    font-weight: 400 !important;
}

.fermopoint-info-window .fermopoint-info-row a {
    margin-top: 7px;
    color: #9bae1d;
    font-size: 14px;
    text-decoration: none;
}

.fermopoint-info-window .hours-list {
}

.fermopoint-info-window .hours-list .dow {
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
    width: 40px;
}

#fermopoint_point .nick.info, 
#fermopoint_point .dob.info, 
#fermopoint_point .phone.info { display: block; font-size: 12px; color: #6B749A; }

#fermopoint_dob_trig {display: inline-block; }


.input-box .ajax-validate {display: none;}
.input-box.loading .ajax-validate {display: inline; position: relative; left: -25px;}

/* Fire Checkout specific styles */
.firecheckout-index-index .col3-set.firecheckout-set .form-list .control label[for="shipping:same_as_billing_point"] { width: 90% !important; }
.firecheckout-index-index .fermopoint .form-list .fields .field { width: 100%; }
.firecheckout-index-index #shipping:same_as_billing_point { vertical-align: top; }
.firecheckout-index-index #fermopoint_search_address { display: block; }
.firecheckout-index-index .fermopoint-info-window { min-width: 0px; }
.firecheckout-index-index .fermopoint-info-window { font-size: 11px; line-height: 14px;}
.firecheckout-index-index .fermopoint-info-window .fermopoint-info-row.title {font-size: 12px; margin-bottom: 5px;}
.firecheckout-index-index .fermopoint-info-window .fermopoint-info-row a {font-size: 12px;}